<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- 独自のJS -->
        <script defer src="{{ url_for('static', filename='pictureList.js') }}"></script>
        <script defer src="{{ url_for('static', filename='test.js') }}"></script>

        <!-- Bootstrap JS(compiled bundle) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <title>画像選択　テスト</title>

        <style>
            #answer-button{
                width: 50%;
                margin: 0 auto;
                display: block;
            }
            .col-md-2{
                width: 10%;
                margin-top: 150px;
                display: block;
            }
        </style>
    </head>
    <body>
        <header class="sticky-top">
            <nav class="navbar navbar-light bg-dark">
                <div class="container">
                    <span class="navbar-brand text-white mb-0 h1">FinalAssignment</span>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Topページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/upAndDel">アップロード</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="row mt-5" style="margin-left: 15%; margin-right: 15%;">
            <p class="col-6">
                選択されたモード：{{ data['mode'] }}<br>
                選択された画像　：{{ data['image'] }}<br>
                問題用の画像　　：{{ data['question'] }}
            </p>
            <p class="col-6"></p>
            <div class="row col-12">
                <div class="col-md-5 mt-3">
                    <h2 class="text-center">変更前の画像</h2>
                    <img class="before-image" src="{{data['image']}}" width="100%">
                </div>
                <div class="col-md-2">
                    <img src="{{ url-for('static', filename='yajirushi.png') }}" width="100%">
                </div>
                <div class="col-md-5 mt-3">
                    <h2 class="text-center">変更後の画像</h2>
                    <img class="after-image" src="{{data['question']}}" width="100%">
                </div>
            </div>
            <!--回答ボタンの押下処理-->
            <div>
                <form class="select-answer row col-12 mt-3">
                    <div class="col-md-12">
                        <h2 class="text-center">解答欄</h2>
                    </div>
                    
                    <div class="col-md-4 mb-3 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-0" autocomplete="off" value="0" checked>
                        <label class="btn btn-outline-secondary" for="select-0" style="width: 100%;">{{ data['sample'][0] }}</label>
                    </div>
                    <div class="col-md-4 mb-3 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-1" autocomplete="off" value="1">
                        <label class="btn btn-outline-secondary" for="select-1" style="width: 100%;">{{ data['sample'][1] }}</label>
                    </div>

                    <div class="col-md-4 mb-3 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-2" autocomplete="off" value="2">
                        <label class="btn btn-outline-secondary" for="select-2" style="width: 100%;">{{ data['sample'][2] }}</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-3" autocomplete="off" value="3">
                        <label class="btn btn-outline-secondary" for="select-3" style="width: 100%;">{{ data['sample'][3] }}</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-4" autocomplete="off" value="4">
                        <label class="btn btn-outline-secondary" for="select-4" style="width: 100%;">{{ data['sample'][4] }}</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="radio" class="btn-check" name="answer" id="select-5" autocomplete="off" value="5">
                        <label class="btn btn-outline-secondary" for="select-5" style="width: 100%;">{{ data['sample'][5] }}</label>
                    </div>
                    <div class="col-md-12 mt-4">
                        <button class="btn btn-primary" id="answer-button">解答を決定</button>

                    </div>
                </form>
            </div>
        </div>

    </body>
</html>