<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>第11回課題</title>

    <script defer src="{{ url_for('static', filename='uploadAndDelete.js') }}"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap JS(compiled bundle) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <header class="sticky-top">
            <nav class="navbar navbar-light bg-dark">
                <div class="container">
                    <span class="navbar-brand text-white mb-0 h1">FinalAssignment</span>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Topページ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/upAndDel">アップロード</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </header>

    <main>
        <!--
            <form method="post" enctype="multipart/form-data" action="/picture">
                <input type="file" name="original-picture" required>
                <button>Send</button>
            </form>

            // 動作自体はこれで問題ないが、
            // 以下の<section id="send-by-js">にて.jsを用いたファイル送信を行っている
            // .jsが不具合を起こした場合は、HTMLが直接送信を行う
        -->

        <section class="mt-5" id="send-to-upload-picture" style="padding-left: 10%; padding-right: 10%;">

            <h1 class="text-center">画像のアップロード</h1>

            <form class="row" method="post" id="input-picture" enctype="multipart/form-data" action="/upload">
                <div class="col-md-10">
                    <input class="form-control form-control-lg" type="file" name="original-picture" required="required" accept="image/*">
                </div>
                <button class="btn btn-lg btn-primary col-md-2" type="submit" id="upload-button">送信</button>
            </form>
        </section>

        <section class="mt-5" id="send-to-delete-picture" style="padding-left: 10%; padding-right: 10%;">

            
            <form class="row" method="post" action="/delete">
                <h1 class="text-center col-12">画像の削除</h1>
                <div class="col-md-10" id="delete-picture">
                    <select class="form-select form-select-lg" name="picture-list" id="select-picture">
                        <option id="selections">削除する画像を選択</option>
                    </select>
                </div>
                <button class="btn btn-lg btn-danger col-md-2" type="submit" id="delete-button">削除</button>
            </form>
        </section>
    </main>
</body>
</html>